#services {
    padding: 40px 0;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3cpath d='M1440 0L758.13 0L1440 171.62z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M758.13 0L1440 171.62L1440 282L650.6 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M650.6 0L1440 282L1440 389.87L287.64000000000004 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M287.6400000000001 0L1440 389.87L1440 425.44L141.9600000000001 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L403.84 560L0 437.21z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 437.21L403.84 560L592.77 560L0 198.14999999999998z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 198.14999999999998L592.77 560L919.15 560L0 176.49999999999997z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 176.5L919.15 560L1023.53 560L0 168.72z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
}

.service-item {
    border: 1px solid #3736362b;
    transition: transform 0.3s ease;
    width: 90%;
    margin: 0 auto; /* Esto centra horizontalmente */
    text-align: center; /* Esto centra el contenido del elemento */
    height: 360px;
    text-align: center;
    margin-bottom: 40px;
    padding: 40px;
    background-color: #fff;
    border-radius: 4px;
}

.service-item:hover {
    transform: translateY(-5px);
}

.service-item-border-top {
    border-top: 15px outset #f46928;
}


.service-item i {
    font-size: 48px;
    color: #ff7e2b;
    margin-bottom: 20px;
}

.service-item h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.service-item p {
    font-size: 16px;
    color: #777;
}

/* Animaciones de entrada utilizando Animate.css */
.animate__animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

/* Establecer el retraso para cada elemento */
.service-item:nth-child(1) {
    animation-delay: 0.2s;
}

.service-item:nth-child(2) {
    animation-delay: 0.4s;
}

.service-item:nth-child(3) {
    animation-delay: 0.6s;
}

/* Estilos personalizados */
.titulo {
    font-family: "Arial", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #db2222e4;
}

.subtitulo {
    font-family: "Verdana", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #7f2525;
}

.descripcion {
    font-family: "Helvetica", sans-serif;
    font-size: 14px;
    color: #d4bbbb;
    line-height: 1.5;
}