#containerProyectos {
  padding-top: 10rem;
}

.modal-max-height .modal-dialog {
  max-width: 90%;
}

/* Estilo para las imágenes dentro del carousel */
.carousel .carousel-inner .carousel-item img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

/* Media query para pantallas con un ancho máximo de 768px (por ejemplo, teléfonos móviles) */
@media (max-width: 768px) {
  .carousel .carousel-inner .carousel-item img {
    max-width: 100%;
    max-height: 100vh;
    /* Ocupar toda la altura de la pantalla */
    object-fit: cover;
    display: block;
    margin: 0 auto;
    /* Centrar horizontalmente */
  }
}


/* styles.css (o el nombre que le hayas dado a tu archivo CSS) */

.containerProyectos {
  padding: 40px 0;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3cpath d='M1440 0L758.13 0L1440 171.62z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M758.13 0L1440 171.62L1440 282L650.6 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M650.6 0L1440 282L1440 389.87L287.64000000000004 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M287.6400000000001 0L1440 389.87L1440 425.44L141.9600000000001 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L403.84 560L0 437.21z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 437.21L403.84 560L592.77 560L0 198.14999999999998z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 198.14999999999998L592.77 560L919.15 560L0 176.49999999999997z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 176.5L919.15 560L1023.53 560L0 168.72z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
}

/* Estilos específicos para el texto de los proyectos, puedes ajustarlos según tus necesidades */
.proyecto-info {
  /* Estilos para el contenido de los proyectos */
  padding: 20px;
  color: black;
}

.tabProyectos {
  background-color: #ff7c2b00;
  border-bottom: 1px solid #ff7e2b;
}


.galeriaProyectos {
  flex: 0 0 200px;
  margin-bottom: 10px;
  max-height: "300px";
  overflow: "hidden";
  cursor: "pointer";
  text-align: "center";
}

@media (max-width: 768px) {
  .galeriaProyectos {
    flex: none;
  }
}



a.tabProyectos.nav-link.active {
  background-color: #dadadad3;
  text-decoration: none;
  color: black;
  font-weight: bold;
  border: none
}

a.tabProyectos.nav-link:hover {
  background-color: #dadadad3;
}

.image-gallery-thumbnail {
  width: 120px
}

.image-gallery-thumbnail img {
  width: auto;
  height: 75px;
}